.footer{
    text-align: center;
    margin-top: 2rem;
}

.footer p{
    color: #212121;
    font-weight: 700;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px gray;
    font-family: "Roboto", serif;
}